/* Styles CSS - Vins de Loire */

/* Définition du corps de la page */
body {
    background-color: #ea9e69; 
    color: #d2691e;
    background-image: url("images/bouteille.png"); 
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-position: bottom right;
}
/* police Trebuchet MS, arial ou sans-serif */
/* couleur du texte : d2691e */
/* image de fond : couleur ea9e69, bouteille, sans répétition, fixe, en bas à droite */



/* Définition en-tête, main et pied de page*/
header, main, footer {
    background-color: #fff;
    width: 1024px;
    margin: 20px auto;
    padding: 10px;
    border: #d2691e 4px inset;
}
/* largeur de 1024 pixels */
/* marge externe : 20 pixels en haut et en bas, auto à gauche et à droite */
/* marge interne : 10 pixels */
/* bordure : 4 pixels, inset et de couleur d2691e */
/* fond de couleur fff */



/* Définition titre de niveau 1 */
h1 {text-align: center; 
    background-image: url("images/feuille_vigne.png");
    font-family: sans-serif;
    font-size: 2.5em;
    text-transform: capitalize;
    line-height: 2.1em;
    word-spacing: 20px;
}
h1 ::first-letter{
    text-transform: uppercase;
}
/* police Bauhaus 93, arial ou sans-serif, taille de la police de 2,5 em, interligne de 2,1 em et lettres en petites capitales */
/* premières lettres de chaque mot en majuscules */
/* texte centré */
/* espacement des mots : 20 pixels */
/* image de fond : feuille_vigne */


/* Définition titre de niveau 2 */
h2 {
    background-color: #a52a2a;
    color: #d2691e; 
    text-align: center;
    margin: 20px 10%;
    font-weight: bold;
    font-style: oblique;
    letter-spacing: 5px;
    line-height: 1.8em;
}
/* style oblique */
/* police grasse */
/* police de couleur : d2691e */
/* alignement centré */
/* espacement des lettres de 5 pixels */
/* interligne de 1,8 em */
/* couleur de fond : a52a2a */
/* marge externe : 20 pixels en haut et en bas, 10% à gauche et à droite */



/* Définition titres de niveau 3 et 4 et les termes définis dans le glossaire */
h3, h4 {
    color: #a52a2a;
}
/* police de couleur a52a2a */



/* Définition titre de niveau 3 */
h3 {
    font-style: italic;
    text-align: center;
    border: #a52a2a double 3px;
    background-image: url("images/mini_bouteille.png");
    background-repeat: no-repeat;
    background-position: left;
    width: 600px;
    height: 40px;
    margin: 20 auto;
    padding: 12px 0 0;
}
/* style italique */
/* alignement centré */
/* épaisseur de la bordure de 3 pixels */
/* couleur de la bordure a52a2a */
/* style de la bordure : double */
/* images de fond : mini_bouteille, sans répétition, à gauche */
/* largeur de 600 pixels */
/* hauteur de 40 pixels */
/* marge externe de 20 pixels en haut et en bas, et automatique ailleurs */
/* marge interne égale à 12px en haut et 0 ailleurs */
	

/* Définition titre de niveau 4 et les termes définis dans le glossaire */
h4 {
    border-left-style: solid;
    border-left-width: 4px;
    border-bottom-style: solid ;
    border-bottom-width: 2px;
    margin-top: 20px;
    margin-right: 70% ;
}
/* décalage du texte de 20 pixels */
/* bordure gauche style solid, épaisseur de 4 pixels */
/* bordure basse style solid, épaisseur de 2 pixels */
/* marge externe de 20 pixels en haut et de 70% à droite */


/* Définition classe vinrouge */
.vinrouge {
    background-color:#ffaeb9 ;
}
/* fond de couleur ffaeb9 */



/* Définition classe vinblanc*/
.vinblanc {
    background-color: #ff9;
}
/* fond de couleur ff9 */



/* Définition du bloc de citation */
blockquote {
    color: white;
    background-color: #d2691e;
    text-align: center;
    margin: 2 180;
    padding: 2 40;
    border-left: white 6px;
    border-right: white 6px;
}
/* police de couleur blanche */
/* fond de couleur d2691e */
/* texte centré */
/* marges droite et gauche : 180 pixels et haute et basse : 2 pixels */
/* marge interne droite et gauche de 40 pixels, haute et basse de 2 pixel */
/* bordure gauche : 6 pixels, double et de couleur blanche */
/* bordure droite : 6 pixels, double et de couleur blanche */



/* Définition liste non ordonnée */
ul {
    list-style-image: url("images/puce_grappe.png") ;
    text-transform: capitalize lowercase;
}
/* liste à puce avec aspect disque ou puce_grappe positionnée à l'intérieur */
/* lettres en petites capitales */



/* Définition sous liste non ordonnée */
ol {
    list-style-type: square; 
}
/* liste à puce avec aspect carré, sans image et à l'intérieur */
/* lettres sans petites capitales */



/* Définition liens normaux ou visités */
a:link, a:visited {
    color: #a52a2a;
}
/* lien de couleur a52a2a */



/* Définition liens présents comme élément d'une liste dans le menu principal */
li > a {
    font-size: 1.2em;
    line-height: 1.5em;
}
/* taille de la police de 1,2 em */
/* interligne de 1,5 em */



/* Définition paragraphe "appellation" */

/* texte centré */
/* taille de la police 0,9 em */



/* Définition paragraphe "localisation" */
h4 + p {
    text-indent: 30px;
    text-align: justify;
    word-spacing: -2px;
}
/* alinéa de 30 pixels */
/* texte justifié */
/* espacement des mots : -2 pixels */
	


/* Définition mots présents dans le texte de la page pour lesquels une définition existe dans le glossaire */
.def {
    background-color: yellow;
    padding-left: 2px;
    padding-right: 2px;
}
/* fond de couleur jaune */
/* texte non souligné */
/* marge interne 2 pixels à gauche et à droite */



/* Définition première lettre des termes du glossaire */
dt ::first-letter {
    font-size: 1.5em;
}
/* police 1,5 em */



/* Définition liens survolés ou actifs et nom de fleuve mis en valeur */
a:hover, a:active {
    color: white;
    background-color: #a52a2a;
}
/* police de couleur blanche */
/* fond de couleur a52a2a */



/* Définition images et videos */
img, video {
    display: block;
    margin: 0 auto;
    border: 1px inset #a52a2a;
}
/****** changement de mode d'affichage : insertion de type bloc */
/****** marge externe de 0 pixel en haut et en bas, automatique à gauche et à droite */
/* bordure 1px inset a52a2a */



/* Définition image de la flêche */
/* pas de bordure */



/* Définition légendes et paragraphe de navigation */
nav {
    text-align: center;
}
/* texte centré */



/* Définition tableau */
table {
    width: 80%;
    margin: 20 auto;
    empty-cells: hide;
    border-collapse: separate;
}
/* largeur de 80% */
/* marge externe de 20 pixels en haut et en bas, automatique à gauche et à droite */
/* bords des cellules séparés */ 
/* cellule vide masquée */



/* Définition cellules */
td {
    border: 1px solid #a52a2a ;
    text-align: center;
}
/* bord d'une épaisseur de 1 pixel, trait continu et couleur a52a2a */
/* texte centré */



/* Définition meilleure note (la plus élevée) */
/* texte en gras */ 



/* Définition cellules d'en-tête */
th {
    color: #a52a2a;
    background-color: #ccc;
}
/* police de couleur a52a2a */
/* couleur de fond ccc */

figcaption {
    text-align: center;
}